.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: rgba($color-black, .8);
    z-index: 4000;
    
    &__content {
        @include absolute_center;
        background-color: $color-white;
        width: 75%;
        // height: 50rem;
        box-shadow: 0 2rem 4rem rgba($color-black, .8);
        border-radius: 3px;
        display: table; //same height with all child table cells
        overflow: hidden;

    }

    &__left {
        width: 32.333333%;
        // float: left; We can use this..
        display: table-cell;
        vertical-align: middle; //this comes with table cell
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle; //this comes with table cell
        padding: 3rem 5rem;
    }
    &__image {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem; //1em 14px;
        margin-bottom: 4rem;

        column-count: 2; //Divide the pragraph text by 2
        column-gap: 4rem; //Space between the divided paragraphs
        column-rule: 1px solid $color-grey-light-2;
        
        //Usually we shouldnt prefix by ourself
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        
        hyphens: auto; //Right now not working
    }
}